<style>
  .transition-filter {
    transition-property: filter;
  }
</style>

<section id="about" class="px-7 py-14 bg-background-light text-center lg:text-left">
  <div class="container mx-auto grid lg:grid-cols-4 lg:gap-14">
    <div class="w-1/2 mx-auto mb-10 lg:w-auto lg:m-0 lg:col-span-1 relative before:rounded-3xl before:absolute before:top-0 before:left-0 before:w-full before:h-full before:transform before:rotate-3 before:bg-primary">
      <picture>
        <source srcset="/images/ahmed.webp" type="image/webp" />
        <source srcset="/images/ahmed.jpeg" type="image/jpeg" />
        <img
          src="/images/ahmed.jpeg"
          alt="Ahmed Mahmoud"
          class="transform -rotate-3 rounded-3xl w-full h-full object-cover grayscale hover:grayscale-0 transition duration-500 transition-filter"
        />
      </picture>
    </div>

    <div class="lg:col-span-3">
      <h2 class="font-serif text-4xl mb-5">Get to <span class="italic text-primary">know me</span>.</h2>
      <p class="text-lg leading-relaxed lg:pr-20">
        My name is Ahmed Mahmoud, I'm a JavaScript developer living in Egypt.
        I have an endless passion towards programming, especially web, mobile
        development and everything JavaScript.
        Developing front-end apps with React.js, mobile apps with React Native,
        and back-ends with Node.js, and that's what gives me superpowers!
        I care a lot about design, accessibility, performance,
        and security. And always trying to improve my skills and knowledge, so I'm always
        looking for new challenges. I'm constantly learning new things, not just about
        programming, sometimes it’s Maths or Sciences. I'm always looking for
        oppertunities to learn new things, and aiming to work with kind and talented
        people to share the knowledge with and learn from.
      </p>
    </div>
  </div>
</section>
