<section id="about" class="bg-background-lighter dark:bg-background-dark text-center lg:text-left">
  <div class="container mx-auto lg:flex px-7 py-14">
    <div class="w-72 h-72 mx-auto mb-10 lg:mb-0 lg:mr-10 relative before:rounded-3xl before:absolute before:top-0 before:left-0 before:w-full before:h-full before:transform before:rotate-3 before:bg-primary-dark dark:before:bg-primary-light">
      <picture>
        <source srcset="/images/ahmed.webp" type="image/webp" />
        <source srcset="/images/ahmed.jpeg" type="image/jpeg" />
        <img
          src="/images/ahmed.jpeg"
          alt="Ahmed Mahmoud"
          class="transform -rotate-3 rounded-3xl w-full h-full object-cover grayscale hover:grayscale-0 transition-[filter] duration-500"
          width="746"
          height="749"
        />
      </picture>
    </div>

    <div class="flex-1">
      <h2 class="font-serif text-4xl mb-5">Get to <span class="italic text-primary-darker dark:text-primary-light">know me</span>.</h2>
      <p class="text-lg leading-relaxed lg:pr-20 opacity-80">
        My name is Ahmed Mahmoud, I'm a JavaScript/TypeScript developer living in Egypt.
        I have an endless passion towards programming and being able to translate my
        ideas into reality using code. I build front-end apps with React.js, mobile apps
        with React Native, and back-ends with Node.js, it's really JavaScript
        <abbr title="For The Win">FTW</abbr>! I care a lot about the user experience of
        the things I build by having great design, accessibility, and performance. I
        love building open source software to help the community and improve the
        ecosystem. I'm always looking for oppertunities to learn new things, and aiming
        to work with kind and talented people to share the knowledge with and learn
        from.
      </p>
    </div>
  </div>
</section>
