<div class="group bg-background-light border-2 border-transparent relative text-center shadow-none transition-[transform,box-shadow,border] hover:scale-105 hover:border-2 hover:border-accent hover:rotate-1 hover:text-accent hover:shadow-lg hover:shadow-accent/20 rounded-xl overflow-hidden duration-300">
  <slot />
</div>
