<section id="home" class="container mx-auto min-h-screen p-7 pt-10 lg:grid grid-cols-2 text-center lg:text-left items-center">
  <div class="mx-auto p-10 order-2 zoom-out">
    <picture>
      <source srcset="/images/space.webp" type="image/webp" />
      <source srcset="/images/space.png" type="image/png" />
      <img src="/images/space.png" alt="Illustration of an astronaut floating in space" width="912" height="912" />
    </picture>
  </div>

  <div>
    <h1 class="font-serif text-5xl xl:text-6xl leading-[1.125] xl:leading-tight mb-9">
      <span>
        <span class="sliding" style="--delay: 0">
          Building
        </span>
      </span>
      <span>
        <span class="sliding" style="--delay: 150ms">
          <i class="italic text-primary-darker dark:text-primary-light">Performant</i>,
        </span>
      </span>
      <br />
      <span>
        <span class="sliding" style="--delay: 300ms">
          <i class="italic text-primary-darker dark:text-primary-light">Beautiful</i>
        </span>
      </span>
      <span>
        <span class="sliding" style="--delay: 450ms">
          Apps.
        </span>
      </span>
    </h1>

    <p
      class="text-xl mb-12 leading-relaxed subtitle"
      style="--delay: 800ms"
    >
      Hi! I’m Ahmed. I’m a JavaScript Developer with over 5 years of experience building quality software.
    </p>

    <a
      download
      href="/assets/Ahmed-Mahmoud-Resume.pdf"
      class="shadow-lg bg-primary-dark dark:bg-primary-light text-text-light dark:text-background-darker uppercase font-bold px-7 py-4 rounded-full inline-block text-lg transition duration-300 transform hover:bg-accent-dark dark:hover:bg-accent-light hover:scale-110 hover:-rotate-2 hover:shadow-accent-dark/25 dark:hover:shadow-accent-light/25 active:scale-95 btn"
      style="--delay: 1200ms"
    >
      Download My Resume
    </a>
  </div>
</section>

<style>
  /* Heading slide animation */
  h1 > span {
    display: inline-block;
    overflow: hidden;
  }

  .sliding {
    display: inline-block;
    opacity: 0;
    transform: translateY(-5rem);
    animation: slide 1s ease-out forwards;
    animation-delay: var(--delay);
  }

  @keyframes slide {
    50% {
      opacity: 1;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .zoom-out {
    opacity: 0;
    transform: scale(1.2);
    animation: zoom-out 1s ease-in-out forwards;
  }

  @keyframes zoom-out {
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  /* Subheading/Button fade animation */
  .subtitle, .btn {
    opacity: 0;
    animation: fade 750ms ease-out forwards;
    animation-delay: var(--delay);
  }

  @keyframes fade {
    to {
      opacity: 1;
    }
  }
</style>

