<section id="home" class="container mx-auto p-7 lg:p-14 flex">
  <div class="mr-5">
    <h1 class="font-serif text-5xl leading-snug mb-5">
      Building <i class="italic text-primary font-normal">Performant</i>,
      <wbr />
      <i class="italic text-primary font-normal">Beautiful</i> Apps.
    </h1>

    <p class="text-xl">
      Hi, I’m Ahmed. I’m a JavaScript Developer with over 5 years of experience building quality software.
    </p>

    <a
      href="#about"
      class="bg-primary text-background uppercase font-bold mt-10 px-7 py-4 rounded-full inline-block text-lg transition duration-300 transform hover:bg-accent hover:scale-110 hover:-rotate-2 active:scale-95"
    >
      Get To Know Me
    </a>
  </div>

  <div>
    <img class="w-4/5 relative bottom-6" src={Astro.resolve('../images/space.png')} />
  </div>
</section>
