<div class="container mx-auto py-4 px-3">
  <h1 class="font-serif text-5xl mb-5">
    Building <i class="italic text-primary font-normal">Performant</i>,
    <wbr />
    <i class="italic text-primary font-normal">Beautiful</i> Apps.
  </h1>
  <p class="text-xl">Hi, I’m Ahmed. I’m a JavaScript Developer with over 5 years of experience building quality software.</p>
</div>
