---
import Navbar from '../components/Navbar.svelte';
import SkipToContent from './SkipToContent.astro';

const { title = "Ahmed Mahmoud" } = Astro.props;
---

<html lang="en" class="scroll-smooth scroll-p-14">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" />
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')} />
    <meta name="image" content={Astro.resolve('../images/ahmed.jpeg')} />
    <meta name="description" content="Ahmed Mahmoud is a JavaScript Developer with over 5 years of experience building quality software." />
    <title>{title}</title>
  </head>
  <body class="bg-background text-text">
    <SkipToContent />
    <Navbar client:load />
    <main id="content">
      <slot />
    </main>
  </body>
</html>
