<nav class="fixed top-0 left-0 w-full px-7 z-10 bg-background">
  <div class="container mx-auto h-16 flex justify-between items-center">
    <img src={Astro.resolve('../images/logo.svg')} alt="Ahmed Mahmoud" />

    <ul class="flex">
      <li class="transition mx-3 hover:text-primary"><a href="#home">Home</a></li>
      <li class="transition mx-3 hover:text-primary"><a href="#about">About</a></li>
      <li class="transition mx-3 hover:text-primary"><a href="#skills">Skills</a></li>
      <li class="transition mx-3 hover:text-primary"><a href="#portfolio">Portfolio</a></li>
      <li class="transition mx-3 hover:text-primary"><a href="#contact">Contact</a></li>
    </ul>
  </div>
</nav>
