<a href="#content"
  class="fixed top-3 left-3 inline-block uppercase font-bold px-7 py-4 rounded-full bg-accent text-background z-50 transition-transform transform -translate-y-28 focus:translate-y-0">
  Skip to content
</a>